<div class="container dashboard">
  <h1> <%= @user.email %> </h1>

  <% if @user.has_queries? %>
    <% @user.queries.each do |query| %>
      <div class="query">
        <%= query.title %>
        <div class="edit-destroy">
          <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_query_path(query) %>
          <%= link_to '<i class="fa fa-times"></i> Destroy'.html_safe, query_path(query), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You have no queries saved!  Why don't you <%= link_to 'create some?', new_query_path %></p>
  <% end %>

  <% if @user.has_queries? %>
    <p><%= link_to 'Create new query', new_query_path %></p>
  <% end %>
</div>
