<h2>Sign up</h2>

<%= form_for([resource, resource.with_query], 
      as: resource_name, 
      url: registration_path(resource_name)) do |f| %>
  <%= f.fields_for :queries do |qf| %>
    <%= render partial: 'templates/forms/queries/what', 
      locals: { qf:  qf, heading: transform_heading(get_heading resource) }%>
    <%= render partial: 'templates/forms/queries/where', 
      locals: { qf:  qf, location: retrieve_original_location(get_query resource) }%>
    <%= render partial: 'templates/forms/queries/how_much', 
      locals: { qf:  qf } %>
    <%= render partial: 'templates/forms/queries/how_often', 
      locals: { qf:  qf } %>
  <% end %>

  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
