<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Some bullshit</h1>
        <p>Try it out.  Sign up or create your first query below.</p>
        <%= form_for(resource, 
            as: resource_name, 
            url: registration_path(resource_name),
            html: { class: 'form-inline', id: 'email-only' }) do |f| %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email address' %>
          <%= f.submit 'Submit', class: 'btn btn-warning btn-lg' %>
        <% end %>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container full-width">
  <div class="row">
    <%= render 'templates/forms/queries/index_page_query_form' %>
  </div>
</div>

<%= link_to "Already registered, but didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<%= render 'templates/footer/footer' %>
