<div class="pure-control-group">
  <%= qf.label :price_min %>
  <%= qf.number_field :price_min %>
  <span class="error"><%= get_resource_error_message resource, :"queries.price_min" %></span>
</div>

<div class="pure-control-group">
  <%= qf.label :price_max %>
  <%= qf.number_field :price_max %>
  <span class="error"><%= get_resource_error_message resource, :"queries.price_max" %></span>
</div>

