<%= form_for([resource, resource.with_query], 
              as: resource_name, 
              url: registration_path(resource_name),
              html: { class: 'pure-form pure-form-aligned registration'} ) do |f| %>
  <%= f.fields_for :queries do |qf| %>
    <fieldset class="what">
      <legend><i class="fa fa-cart-arrow-down"></i>What are you looking for?</legend>
      <div class="fields">
        <%= render partial: 'templates/forms/queries/what', 
          locals: { 
            qf:  qf, 
            heading: transform_heading(get_heading resource),
            title_error_sym: :"queries.title",
            heading_error_sym: :"queries.heading",
            category_group_error_sym: :"queries.category_group"
          }
        %>
      </div>
    </fieldset>

    <fieldset class="where">
      <legend><i class="fa fa-map-marker"></i>Where do you want to look?</legend>
      <div class="fields">
        <%= render partial: 'templates/forms/queries/where', 
          locals: { 
            qf:  qf, 
            location: retrieve_original_location(get_query resource),
            location_error_sym: :"queries.location",
            radius_error_sym: :"queries.radius"
          }
        %>
      </div>
    </fieldset>

    <fieldset class="how-much">
      <legend><i class="fa fa-money"></i>What's your price range?<br/><span class="text-md">(Leave both fields blank for updates on free loot!)</span></legend>
      <div class="fields">
        <%= render partial: 'templates/forms/queries/how_much', 
          locals: { 
            qf:  qf,
            price_min_error_sym: :"queries.price_min",
            price_max_error_sym: :"queries.price_max"
          } 
        %>
      </div>
    </fieldset>

    <fieldset class="how-often">
      <legend><i class="fa fa-clock-o"></i>How often do you want to be updated?</legend>
      <div class="fields">
        <%= render partial: 'templates/forms/queries/how_often', 
          locals: { 
            qf:  qf,
            frequency_error_sym: :"queries.frequency"
          } 
        %>
      </div>
    </fieldset>
  <% end %>

  <fieldset> 
    <legend><i class="fa fa-envelope-o"></i>And finally, your email:</legend>
    <div class="fields">
      <div class="pure-control-group">
        <%= f.label :email %>
        <%= f.email_field :email, id: 'user_email_bottom' %>
        <span class="error"><%= get_resource_error_message resource, :email %></span>
      </div>
    </div>

    <div class="actions fields">
      <%= f.submit "Sign up", class: 'btn btn-warning btn-lg' %>
    </div>
  </fieldset>
<% end %>

