
<%= form_for :query, :html => { :class => 'pure-form pure-form-stacked' }, method: (@method.nil? ? :post : @method) do |f| %>
  <!-- WHAT -->
  <fieldset>
    <legend>What?</legend>
    <!-- title -->
    <label for="title">Title of this search</label>
    <input id="title" name="title" type="text" placeholder="Title"
     value="<%= @query.nil? ? '' : @query.title %>">

    <!-- keywords -->
    <label for="keywords">Keywords</label>
    <input id="keywords" name="keywords" type="text" placeholder="Keywords"
     value="<%= @query.nil? ? '' : @query.heading.join(', ') %>">

    <!-- category -->
    <label for="category">Category</label>
    <select name="category" autocomplete="off">
      <% @category_groups.each do |group| %>
        <option value="<%= group['code'] %>"
         <%= @query.nil? ? '' : @query.category_group == group['code'] ? 'selected=selected' : ''  %>>
           <%= group['name'] %>
        </option>
      <% end %>
    </select>
  </fieldset>

  <!-- WHERE -->
  <fieldset>
    <legend>Where?</legend>

    <!-- city/zip code -->
    <label for="location_primary">City or Zip Code</label>
    <input id="location-primary" name="location_primary" type="text" placeholder=""
     value="<%= @query.nil? ? '' : @query.location['city'] %>">

    <!-- distance radius -->
    <%= render 'templates/forms/queries/distance_select' %> 
  </fieldset>
  
  <!-- HOW MUCH -->
  <fieldset>
    <legend>How much?</legend>

    <!-- price min -->
    <label for="price_min">From</label>
    $<input type="number" name="price_min" step="1.00" min="0.00"
      value="<%= @query.nil? ? '' : @query.price_min %>">

    <!-- price max -->
    <label for="price_max">To</label>
    $<input type="number" name="price_max" step="1.00" min="0.00"
      value="<%= @query.nil? ? '' : @query.price_max %>">
  </fieldset>

  <!-- HOW OFTEN -->
  <fieldset>
    <label for="frequency">I'd like my updates delivered...</label>
    <input type="radio" name="frequency" value="daily" id="daily_frequency"
     <%= @query.nil? ? '' : @query.frequency == 'daily' ? 'checked=checked' : ''  %>
    >
      <label for="daily_frequency">Daily</label>
    </input>
    <input type="radio" name="frequency" value="weekly" id="weekly_frequency"
     <%= @query.nil? ? '' : @query.frequency == 'weekly' ? 'checked=checked' : ''  %>
    >
      <label for="weekly_frequency">Weekly</label>
    </input>
  </fieldset>

  <%= f.submit :class => 'pure-button pure-button-primary' %>
<% end %>
