<%= form_for :query, :html => { :class => 'pure-form pure-form-stacked queries' }, method: (@method.nil? ? :post : @method) do |qf| %>
  <% if @query.errors.any? %>
    <div id="error-explanation">
      There are errors
    </div>
  <% end unless @query.nil? %>

  <%= render partial: 'templates/forms/queries/what', 
    locals: { qf:  qf, heading: (@query.heading unless @query.nil?) } %>
  <hr/>
  <%= render partial: 'templates/forms/queries/where', 
    locals: { qf:  qf, location: (retrieve_original_location @query unless @query.nil?) }%>
  <hr/>
  <%= render partial: 'templates/forms/queries/how_much', 
    locals: { qf:  qf } %>
  <hr/>
  <%= render partial: 'templates/forms/queries/how_often', 
    locals: { qf:  qf } %>

  <%= qf.submit :class => 'pure-button pure-button-primary', 
      data: { disable_with: 'Saving...' }, 
      :disabled => @query.nil? %>
<% end %>
