
<%= form_for :query, :html => { :class => 'pure-form pure-form-stacked' }, method: (@method.nil? ? :post : @method) do |f| %>
  <% if @query.errors.any? %>
    <div id="error-explanation">
      <ul>
        <% @query.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end unless @query.nil? %>

  <!-- WHAT -->
  <fieldset>
    <legend>What?</legend>
    <!-- title -->
    <label for="title">Title of this search</label>
    <input id="title" name="title" type="text" placeholder="Title"
     value="<%= @query.nil? ? '' : @query.title %>">

    <!-- keywords -->
    <label for="keywords">Keywords</label>
    <input id="keywords" name="keywords" type="text" placeholder="Keywords"
     value="<%= @query.nil? ? '' : @query.heading.join(', ') %>">

    <!-- category -->
    <label for="category">Category</label>
    <select name="category" autocomplete="off" id="category">
      <% @category_groups.each do |group| %>
        <option value="<%= group['code'] %>"
         <%= @query.nil? ? '' : @query.category_group == group['code'] ? 'selected=selected' : ''  %>>
           <%= group['name'] %>
        </option>
      <% end %>
    </select>
  </fieldset>

  <!-- WHERE -->
  <fieldset>
    <legend>Where?</legend>

    <!-- city/zip code -->
    <label for="location_primary">City or Zip Code</label>

    <!-- TODO: check for @query.location['city'] as well -->
    <input id="location-primary" name="location_primary" type="text" placeholder=""
    value="<%= @query.nil? ? '' : Reference::LocationReference.get_short_name_from_location_code(@query.location['zipcode']) %>">

    <script>
    $('#location-primary').focusout(function() { 
      var text = $(this).val();
      $.ajax({
        url: '/validate_location',
        data: { location_input: text },
        method: 'get'
      }).done(function(error) {
          if ('none' !== error) {
            alert(error);
          }
        })
    })
    </script>

    <!-- distance radius -->
    <%= render 'templates/forms/queries/distance_select' %> 
  </fieldset>
  
  <!-- HOW MUCH -->
  <fieldset>
    <legend>How much?</legend>

    <!-- price min -->
    <label for="price_min">From</label>
    $<input type="number" name="price_min" step="1.00" min="0.00" id="price_min"
      value="<%= @query.nil? ? '' : @query.price_min %>">

    <!-- price max -->
    <label for="price_max">To</label>
    $<input type="number" name="price_max" step="1.00" min="0.00" id="price_max"
      value="<%= @query.nil? ? '' : @query.price_max %>">
  </fieldset>

  <!-- HOW OFTEN -->
  <fieldset>
    <label for="frequency">I'd like my updates delivered...</label>
    <input type="radio" name="frequency" value="daily" id="daily_frequency"
     <%= @query.nil? ? '' : @query.frequency == 'daily' ? 'checked=checked' : ''  %>
    >
      <label for="daily_frequency">Daily</label>
    </input>
    <input type="radio" name="frequency" value="weekly" id="weekly_frequency"
     <%= @query.nil? ? '' : @query.frequency == 'weekly' ? 'checked=checked' : ''  %>
    >
      <label for="weekly_frequency">Weekly</label>
    </input>
  </fieldset>

  <%= f.submit :class => 'pure-button pure-button-primary' %>
<% end %>
