
<%= form_for :query, :html => { :class => 'pure-form pure-form-stacked' }, method: (@method.nil? ? :post : @method) do |f| %>
  <!-- WHAT -->
  <fieldset>
    <legend>What?</legend>
    <!-- title -->
    <label for="title">Title of this search</label>
    <input id="title" name="title" type="text" placeholder="Title"
     value="<%= @query.nil? ? '' : @query.title %>">

    <!-- keywords -->
    <label for="keywords">Keywords</label>
    <input id="keywords" name="keywords" type="text" placeholder="Keywords"
     value="<%= @query.nil? ? '' : @query.keywords.join(', ') %>">

    <!-- category -->
    <label for="category">Category</label>
    <select name="category" autocomplete="off">
      <% @categories.each do |category| %>
        <option value="<%= category['code'] %>"
         <%= @query.nil? ? '' : @query.category == category['code'] ? 'selected=selected' : ''  %>>
           <%= category['group_name'] + ' - ' + category['name'] %>
        </option>
      <% end %>
    </select>
  </fieldset>

  <!-- WHERE -->
  <fieldset>
    <legend>Where?</legend>

    <!-- city/zip code -->
    <label for="location_primary">City or Zip Code</label>
    <input id="location-primary" name="location_primary" type="text" placeholder=""
     value="<%= @query.nil? ? '' : @query.location['city'] %>">

    <!-- distance radius -->
    <%= render 'templates/forms/queries/distance_select' %> 
  </fieldset>
  
  <!-- HOW MUCH -->
  <fieldset>
    <legend>How much?</legend>

    <!-- price min -->
    <label for="price_min">From</label>
    $<input type="number" name="price_min" step="1.00" min="0.00"
      value="<%= @query.nil? ? '' : @query.price_min %>">

    <!-- price max -->
    <label for="price_max">To</label>
    $<input type="number" name="price_max" step="1.00" min="0.00"
      value="<%= @query.nil? ? '' : @query.price_max %>">
  </fieldset>

  <%= f.submit :class => 'pure-button pure-button-primary' %>
<% end %>
