<div class="pure-control-group">
  <%= qf.label :title, 'Name of your search' %>
  <%= qf.text_field :title %>
</div>

<div class="pure-control-group">
  <%= qf.label :heading, 'Keywords' %>
  <%= qf.text_field :heading, :value => heading %>
</div>

<div class="pure-control-group">
  <%= qf.label :category_group, 'Category' %>
  <%= qf.select :category_group, @category_groups.each.collect { |g| [g['name'], g['code']] }, include_blank: false %>
</div>
