<div class="pure-control-group">
  <%= qf.label :location, 'City or Zip Code'%>
  <%= qf.text_field :location, :value => location, :id => 'location'  %>
  <span class="error"><%= get_resource_error_message resource, location_error_sym %></span>
</div>

<div class="input-error" id="location-primary-error"></div>

<script>
$('#user_query_location').focusout(function() { 
  var text = $(this).val();
  $.ajax({
    url: '/validate_location',
    data: { location_input: text },
    method: 'get'
  }).done(function(error) {
      var errorText = '',
      submitDisabled = true;
      if ('none' !== error) {
        errorText = error;
      }
      else {
        submitDisabled = false;
      }
      $('#location-primary-error').html(errorText); 
      $('input[name="commit"]').prop('disabled', submitDisabled)
    })
})
</script>


<div class="pure-control-group">
  <%= qf.label :radius %>
  <%= qf.select :radius, [5, 10, 20, 50, 'Anywhere'], include_blank: false %>
  <span class="error"><%= get_resource_error_message resource, radius_error_sym %></span>
</div>

