<!DOCTYPE html>
<html>
<%= render 'templates/head/head' %>
<body>
  <%= render 'templates/nav/top_navbar' %>
  <%= insert_top_margin %>

  <div class="container">
    <%= yield %>
  </div>
  <%= render 'templates/footer/notice_and_alert' %>
</body>
</html>
